.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 35%;
  padding: 20px;
}

.column-2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.centered-content {
  position: relative;
  top: 20px; 
  right: -240px; 
  transform: scale(1.5); 
  }
  /* zoom para melhor visualização */


.col-md-8 {
  display: flex;
  margin: 0 auto;
  text-align: center;
}

.align-center {
  text-align: center;
}

.form-group {
  margin-bottom: -3px;
}

label {
  display: block;
  font-weight: bold;
  padding: 10px;
  margin-bottom: -10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 1px;
}

.button-container {
  text-align: right;
  margin-top: 20px;
}

.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0056b3;
}

.align-center {
  text-align: center;
}

.instructions {
  text-align: center;
  margin-top: 45px;
  font-weight: bold;
  background-color: #d3eaf4;
  padding: 10px;
  border-radius: 5px;
 
}

